@import url('https://fonts.googleapis.com/css2?family=Anton&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.program{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size:1.5vw;
    overflow: hidden;
    background-color: #004d43;
    color: white;
    padding: 20px 0;
    border-radius: 8px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.marquee{
    display: flex;
    flex-direction: row;
    border-bottom:solid 2px rgba(209, 205, 205, 0.5);
    border-top:solid 2px rgba(209, 205, 205, 0.5);
    white-space: nowrap;
}
.program h1{
    word-wrap: normal;
    font-size: 15vw;
    font-family: "Anton", system-ui;
    font-weight: 700;
    font-style: normal;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media (max-width: 768px) {
    .program{
        padding: 15px 0;
        font-size: 2vw;
        margin-top: 30px;
    }
    .program h1{
        font-size: 18vw;
        letter-spacing: 3px;
    }
}

@media (max-width: 576px) {
    .program{
        padding: 10px 0;
        font-size: 3vw;
        margin-top: 20px;
        border-radius: 5px;
    }
    .program h1{
        font-size: 25vw;
        letter-spacing: 2px;
    }
}