@import url('https://fonts.googleapis.com/css2?family=Anton&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap');
.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    padding: 20px;
    gap:10px;
    z-index: 1;
}
.intro h1{
    font-family: "Anton", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 8vw;
}
.into_img{
    padding: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}
.img1{
    height: auto;
    max-width: 100%;
    z-index: 1;
}
@media (max-width: 768px) {
    .landing{
        flex-direction: column;
        align-items: center;
        min-height: auto;
        padding: 30px 15px;
        gap: 30px;
    }
    .intro {
        order: 2;
        text-align: center;
    }
    .into_img{
        order: 1;
        padding: 5px;
    }
    .img1{
        max-width: 80%;
        height: auto;
    }
    .intro h1{
        font-size: 8vw;
    }
}
@media (max-width: 576px) {
    .landing{
        height: auto;
        padding: 20px 10px;
        gap: 20px;
    }
    .intro h1{
        font-size: 10vw;
    }
    .img1{
        max-width: 90%;
    }
}